*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#list{
    text-align: center;
    list-style-type: none;
}

.FizzBuzz{
    color: #0000ff;
}

.Fizz{
    color: #00ff00;
}

.Buzz{
    color: #ff0000;
}